node_modules
**/node_modules
**/dist
**/*.tsbuildinfo
**/.git
**/.gitignore
**/.env
**/.env.*
!.env.example
**/coverage
**/.nyc_output
**/*.log
**/*.md
!README.md
**/Dockerfile*
**/docker-compose*
**/.dockerignore
**/.vscode
**/.idea
**/tests
**/*.test.ts
**/*.spec.ts
packages/client
packages/plugin
.github
